*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color: #ECF1F5;
    position: relative;
}

header{
    width: 100vw;
    height: 150px;
    background-color: #075192;
}

.container{
    max-width: 80%;
    height: 500px;
    top: 40%;
    left: 10%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.212);
   
}

.container__menu{
   position: absolute;
   top: 40%;
   left: 30%;

}
